<div class="organizers" id="jarjestajat">
    <h2>Järjestäjät</h2>
    <div class="organizers-wrapper">
        <div class="organizers-row">
            <div>
                <img src="{{ '/assets/img/Aalto-yliopiston_logo.svg'  | relative_url }}"><br>
                <p>Aalto-yliopisto</p>
            </div>
            <div>
                <img src="{{ '/assets/img/hy.png'  | relative_url }}"><br>
                <p>Helsingin yliopisto</p>
            </div>
            <div>
                <img src="{{ '/assets/img/tuni.png'  | relative_url }}"><br>
                Tampereen yliopisto
            </div>
        </div>
        <div class="organizers-row">
            <div>
                <img src="{{ '/assets/img/maol.png'  | relative_url }}"><br>
                MAOL ry
            </div>
            <div>
                <img src="{{ '/assets/img/opetushallitus.png'  | relative_url }}"><br>
                Opetushallitus
            </div>
        </div>
    </div>
</div>