<div class="container-2">
<div class="jarj">
    <h2>Järjestäjät</h2>
    <div class="jarjestajat">
        <div>
            <img src="{{ '/assets/img/giraffe.jpg'  | relative_url }}"><br>
            <p>Aalto</p>
        </div>
        <div>
            <img src="{{ '/assets/img/giraffe.jpg'  | relative_url }}"><br>
            <p>HY</p>
        </div>
        <div>
            <img src="{{ '/assets/img/giraffe.jpg'  | relative_url }}"><br>
            Tampere
        </div>
        <div>
            <img src="{{ '/assets/img/giraffe.jpg'  | relative_url }}"><br>
            MAOL ry
        </div>
        <div>
            <img src="{{ '/assets/img/giraffe.jpg'  | relative_url }}"><br>
            Opetushallitus
        </div>
    </div>
</div>
</div>