<nav class="nav" id="nav">
    
    <button id="show" onclick="showNav()"> </button>
    <ol>
        <li><img src="{{ '/assets/img/tähti.svg' | relative_url }}" id="nav-logo-mobile"></li>
        <li><button id="hide" onclick="hideNav()"> &#x2715;</button></li>
        <li><img src="{{ '/assets/img/datatahtilogo.svg' | relative_url }}" id="nav-logo"></li>
        <li><a href="{{ '#osallistuminen' | relative_url }}">Osallistuminen</a></li>
        <li> <a href="{{ '#palkinnot' | relative_url }}">Palkinnot</a></li>
        <li><a href="{{ '#jatkokilpailut' | relative_url }}">Jatkokilpailut</a></li>
        <li><a href="{{ '#yhteiso' | relative_url }}">Liity yhteisöön</a></li>
        <li><a href="{{ '#jarjestajat' | relative_url }}">Järjestäjät</a></li>
        <li><a href="{{ '#yhteystiedot' | relative_url }}">Yhteystiedot</a></li>
        <li> <a href="{{ '/pages/aiemmat-vuodet' | relative_url}}">Aiemmat vuodet</a></li>
        <li> <a href="#">English</a> </li>
    </ol>
</nav>