<nav class="nav" id="nav">
    
    <button id="show" onclick="showNav()"> </button>
    <ol>
        <li><a id="logo-link" href="{{'/index' | relative_url }}"><img src="{{ '/assets/img/datatähti_logo_tähti.svg' | relative_url }}" id="nav-logo-mobile"></a></li>
        <li><button id="hide" onclick="hideNav()"> &#x2715;</button></li>
        <li><a id="logo-link" href="{{'/index' | relative_url }}"><img src="{{ '/assets/img/datatähti_logo.svg' | relative_url }}" id="nav-logo"></a></li>
        <li><a href="{{ '#osallistuminen' | relative_url }}">Osallistuminen</a></li>
        <li> <a href="{{ '#palkinnot' | relative_url }}">Palkinnot</a></li>
        <li><a href="{{ '#jatkokilpailut' | relative_url }}">Jatkokilpailut</a></li>
        <li><a href="{{ '#yhteiso' | relative_url }}">Liity yhteisöön</a></li>
        <li><a href="{{ '#jarjestajat' | relative_url }}">Järjestäjät</a></li>
        <li><a href="{{ '#yhteystiedot' | relative_url }}">Yhteystiedot</a></li>
        <li> <a href="{{ '/pages/aiemmat-vuodet' | relative_url}}">Aiemmat vuodet</a></li>
        <li> <a href="{{ '/pages/en-info' | relative_url}}">English</a> </li>
    </ol>
</nav>