<div class="entry" id="osallistuminen">
    <h2>Osallistuminen</h2>

    <div class="img-box-wrapper">

        <div class="img-box">
            <img src="{{ '/assets/img/alkukilpailu.svg'  | relative_url }}"><br>
            <h3>Alkukilpailu</h3>
            <p>Kaikille avoin alkukilpailu käydään netissä 28.9.–11.10.2020.</p>
        </div>

        <div class="img-box">
            <img src="{{ '/assets/img/harjoitele.svg'  | relative_url }}"><br>
            <h3>Harjoittelu</h3>
            <p>Voit opetella lisää ohjelmointia ja algoritmeja <a href="https://cses.fi/dt/">nettikurssilla</a>.</p>

        </div>

        <div class="img-box">
            <img src="{{ '/assets/img/loppukilpailu.svg'  | relative_url }}"><br>
            <h3>Loppukilpailu</h3>
            <p>Loppukilpailu järjestetään vuonna 2021 tammi-helmikuussa.</p>
        </div>
    </div>
</div>