<div class="entry" id="osallistuminen">
    <h2>Osallistuminen</h2>

    <div class="img-box-wrapper">

        <div class="img-box">
            <img src="{{ '/assets/img/harjoittele1.png'  | relative_url }}"><br>
            <h3>Harjoittele</h3>
            <p>Voit harjoitella ohjelmointia ja algoritmeja netissä toimivalla valmennuskurssilla, johon pääset tästä.
            </p>

        </div>
        <div class="img-box">
            <img src="{{ '/assets/img/harjoittele1.png'  | relative_url }}"><br>
            <h3>Alkukilpailu</h3>
            <p>Datatähden alkukilpailu on kaikille avoin, ja siihen osallistutaan netissä. Alkukilpailun parhaat
                kutsutaan
                loppukilpailuun yliopistolle.</p>
            <p> alkukilpailu: 30.9.–13.10.2019 netissä</p>
            <p> alkukilpailun tulokset</p>
        </div>
        <div class="img-box">
            <img src="{{ '/assets/img/harjoittele1.png'  | relative_url }}"><br>
            <h3>Loppukilpailu</h3>
            <p>Loppukilpailun 10 parasta pääsee suoraan opiskelemaan tekniikkaa ja matemaattis-luonnontieteellisiä
                aineita
                useimpiin Suomen yliopistoihin.</p>
            <p> loppukilpailu: 9.2.2020 Aalto-yliopistolla</p>
            <p> loppukilpailun tulokset </p>
        </div>
    </div>
</div>