<div class="prizes" id="palkinnot">

    <div class="prizes-wrapper">
        <div class="left">
            <h2>Palkinnot</h2>
            <p>Loppukilpailun 10 parasta pääsee suoraan opiskelemaan tekniikkaa ja matemaattis-luonnontieteellisiä
                aineita
                useimpiin Suomen yliopistoihin.</p>
        </div>
        <div class="right">
           

                <p>
                    Loppukilpailun rahapalkinnot:<br>
                    <br>
                    1. palkinto 600 €<br>
                    2. palkinto 350 €<br>
                    3. palkinto 200 €<br>
                </p>
            
        </div>
    </div>
</div>