<div class="community" id="yhteiso">
    <div class="community-wrapper">
        <h2>Liity yhteisöön</h2>
        <p>Yhteisö auttaa sinua kilpailuun valmistautumisessa ja mahdollistaa muihin kisakoodaamisesta kiinnostuneihin ihmisiin tutustumisen.</p> 
        <p>Liity mukaan klikkaamalla kuvaketta.</p>
        <a href="https://discord.gg/Brqv74x"> <img src="{{ '/assets/img/Discord-Logo-White.png' | relative_url }}"></a>
        <a href="https://t.me/datatahti"> <img src="{{ '/assets/img/telegram.png' | relative_url }}"></a>
    </div>
</div>