@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

html {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: rgb(48, 48, 48);
    background: white;
}

body {
    margin: 0;
}

h2 {
    font-size: 3em;
    margin: 0;
    //margin: 2rem 0 1rem 5rem;
    text-align: center;
}

/*
* mobile
*/

@media screen and (max-width: 500px) {
    html {
        font-size: 16px;
    }
}

/*
* navigation
*/

.nav {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
    background: white;
}

.nav ol {
    list-style-type: none;
    padding-left: 0;
}

.nav ol li {
    display: inline-block;
    color: #000;
    padding: 0 0.5em;
}

.nav ol li a {
    text-decoration: none;
}

#nav-logo {
    height: 2rem;
}

.nav button {
    display: none;
}

.nav-hidden {
    position: fixed;
    width: 4em;
    overflow-y: hidden;
    background-color: transparent;
    overflow-x: hidden;
    margin-top: 0;
    padding-top: 0;
}

.nav-hidden #show {
    text-align: center;
    background-color: transparent;
    border: none;
    margin-top: 0;
    overflow-x: hidden;
    background-image: url(../assets/img/drawing.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.5rem;
    width: 3.5rem;
}

.nav-hidden ol {
    display: none;
}

.nav-hidden #hide {
    display: none;
}

#nav-logo-mobile {
    display: none;
}

@media screen and (max-width: 500px) {
    .nav #hide {
        display: flex;
        background: transparent;
        border: none;
        height: 3rem;
        width: 3rem;
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
    }
    #nav-logo {
        display: none;
    }
    #nav-logo-mobile {
        display: flex;
        height: 3rem;
        width: 3rem;
    }
}

/*
* header
*/

.header {
    background: #765fffff;
    margin: 0;
    height: 43em;
    color: white;
    display: flex;
    flex-direction: column;
}
.header img {
    width: 30rem;
    margin-top: 3em;
}

.header h1 {
    font-size: 10em;
    margin: 0;
    text-align: center;
    padding: 12rem 0 3rem 0;
}

.header h2 {
    font-size: 2em;
    display: block;
    text-align: center;
    padding-right: 1rem;
}

/*
* mobile 
* header
*/

@media screen and (max-width: 500px) {
    .header img {
        max-width: 350px;
        margin-top: 1rem;
    }

    .header h1 {
        font-size: 6rem;
        line-height: 1em;
        padding-bottom: 2rem;
        padding-top: 3rem;
    }

    .header h2 {
        line-height: 1em;
    }
}

/*
* entry - osallistuminen
*/

.entry {
    padding-top: 2.5rem;
    background: white;
}

.img-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.img-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.img-box h3 {
    font-size: 2em;
    margin: auto;
}

.img-box img {
    object-fit: cover;
    width: 90%;
    max-height: 90%;
}

/*
* mobile
* entry - osallistuminen
*/

@media screen and (max-width: 500px) {
    .img-box-wrapper {
        flex-direction: column;
    }
}

/*
* prizes - palkinnot
*/

.prizes-wrapper {
    height: 44em;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.prizes-wrapper > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.prizes-wrapper .left {
    flex: 1.7;
    background: white;
}

.prizes-wrapper .left p {
    max-width: 25rem;
}

.prizes-wrapper .right {
    flex: 1.3;
    background: #41444eff;
    color: white;
}

/*
* mobile
* prizes - palkinnot
*/

@media screen and (max-width: 500px) {
}

/*
* extra-competitions - jatkokilpailut
*/

.extra-competitions {
    background: #765fffff;
    color: white;
    height: 44em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/kilpailu.jpg);
    background-size: cover;
    background-position: center;
    text-shadow: black 1px 1px 1px;
}

.extra-competitions-wrapper {
    max-width: 45em;
    margin: auto;
}

.extra-competitions-wrapper p {
    margin: 2em 0;
    font-size: 24px;
    font-weight: bolder;
    padding: 0 1rem 0 1rem;
}

/*
* community - yhteisö
*/

.community {
    background-color: #765fffff;
    height: 44em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.community-wrapper {
    max-width: 65em;
    margin: auto;
    padding: 2em;
}

/* 
* organizers - järjestäjät
*/

.organizers {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.organizers-wrapper > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.organizers-row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.organizers-wrapper img {
    //§  height: 10em;
    width: 10em;
    background: white;
    padding: 0.5em;
}

/*
* aiemmat vuodet - earlier years
*/

.earlier-years {
    margin: auto;
    padding: 3em;
    background-color: #765fffff;
    // color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.earlier-years-inner {
    background: white;
    padding: 2rem 6rem 2rem 6rem;
}

.earlier-years p {
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .earlier-years-inner {
        padding: 2rem;
    }
}

/*
.earlier-years .left img {
    position: absolute;
    left: 15rem;
    top: 10rem;
}
*/

/*
* yhteystiedot - contact
*/

.contact {
    background: #41444eff;
    color: white;
    padding-bottom: 7em;
}

.contact-wrapper {
    max-width: 43em;
    margin: auto;
    padding: 3em;
}
