@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

html {
    font-family: "Open Sans", sans-serif;
}
body{
    margin: 0;
}

.header {
    display: grid;
     grid: auto-flow / 1fr 1fr 1fr;
     background: #9b00e9ff;
     margin: 0;
     height: 45em;
}

.header h1 {
    font-size: 10em;
    margin:0;
    margin-top: 10rem;
    grid-column-start: 2; 
}

.content {
    margin: auto;
    max-width: 60em;
}