@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");

html {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: rgb(27, 27, 27);
    background: white;
}
body {
    margin: 0;
}

.header {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    background: #8800e3ff;
    margin: 0;
    height: 43em;
    color:white;
}
.header img {
    grid-column-start: 1;
    width: 30rem;
    margin-top: 3em;
}

.header h1 {
    font-size: 10em;
    margin: 0;
    margin-top: 10rem;
    grid-column-start: 2;
}

.header h2 {
    grid-column-start: 3;
    margin-top: 13em;
    padding-right: 2em ;
    font-size: 2em;
}

.jarjestajat {
    width: 75em;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;

}

.entry {
    background: white;
}

h2 {
    font-size: 3em;
}

.entry h2 {
    margin-left: 5em;
    margin-top: 0;
    padding-top: 1em;
}

.boxes-three {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.boxes-three > div {
    flex: 1;
}

.boxes-three div:nth-child(even){
 //   background: #8800e3ff;
 //   color: white;
}

.img-box {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-box h3 {
    font-size: 2em;
    margin: auto;
}

.img-box img {
  object-fit: cover;
  width: 90%;
  max-height: 90%;
  border-radius: 100%;
}



.prizes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.prizes h2 {
    margin-left: 5em;
    margin-top: 0;
}

.prizes .left {
    flex: 1.7;
    background: white;
    padding: 1em;
    
}

.prizes .left p {
    margin: auto;
    max-width: 40em;
    
}

.prizes .right{
    flex: 1.3;
    background: #41444eff;
    padding: 1em;
    color: white;
}

.prizes .right p {
    margin: auto;
    max-width: 20em;
}

.jatkokilpailut {
    max-width: 65em;
    margin: auto;
    padding: 3em;
}

.jatkokilpailut h2 {
    margin: 0;
}

.container {
    background: #8800e3ff;
    color: white;
}

.jarjestajat {
  max-width: 55em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2em;
}

.jarjestajat img {
    height: 10em;
    width: 10em;
    background: white;
    padding: .5em;
}

  .jarj {
      margin: auto;
      max-width: 65em;
      padding: 3em;
  }

  .jarj h2 {
      margin: 0;
  }

  .container-2 {
    background: #41444eff;
    color: white;
  }

  .yhteiso {
    max-width: 65em;
    margin: auto;
    padding: 3em;
  }

  .yhteiso h2 {
      margin: 0;
  }

  .earlier-years{
    max-width: 65em;
    margin: auto;
    padding: 3em;
  }

  .earlier-years h2 {
      margin: 0;
  }

  .contact {
    max-width: 65em;
    margin: auto;
    padding: 3em;
  }

  .contact h2 {
      margin: 0;
  }

  .contact-container {
    background: #8800e3ff;
    color:white;
    padding-bottom: 7em;
  }