<div class="content-box" id="organizers">
    <div class="text">
        <h2>Järjestäjät</h2>




        <div class="jarjestajat">
            <span id="aalto">
                Aalto-yliopisto
            </span>
            <span id="hy">
                Helsingin yliopisto
            </span>
            <span id="tre">
                Tampereen yliopisto
            </span>
            <span id="maol">
                MAOLry
            </span>
            <span>Toiminnan rahoittaja on Opetushallitus.</span>
        </div>

        Yliopistojen yhteyshenkilöt ovat:
        <ul>
            <li>Aalto-yliopisto: Jukka Suomela (jukka.suomela@aalto.fi)</li>
            <li>Helsingin yliopisto: Antti Laaksonen (ahslaaks@cs.helsinki.fi)</li>
            <li>Tampereen yliopisto: Heikki Hyyrö (heikki.hyyro@tuni.fi)</li>
        </ul>
    </div>
</div>