<div class="content" id="prizes">
    <h2>Palkinnot</h2>

    Loppukilpailun palkinnot:
    1. palkinto	600 €
    2. palkinto	350 €
    3. palkinto	200 €
    
    Loppukilpailun 10 parasta pääsee suoraan opiskelemaan tekniikkaa ja matemaattis-luonnontieteellisiä aineita useimpiin Suomen yliopistoihin.
    Jatkokilpailut
    
    Datatähden osallistujista valitaan Suomen joukkueet kansainvälisiin ohjelmointikilpailuihin (BOI ja IOI). Vuonna 2020 BOI järjestetään Latviassa huhti-toukokuussa ja IOI järjestetään Singaporessa heinäkuussa.
    
    Lisää tietoa kilpailuista löydät tästä.
</div>